@media all and (max-width: 1024px) {
  .sidebar {
    display: none;
}

@media all and (max-width: 600px) {
	article img { width: 100%; }
}

@media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
article p, article ul, article li, article h1, article h2, article h3, article h4 { width: calc(100% - 40px); }
}

@media all and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  body { min-width: 320px; }
   article p, article ul, article li, article h1, article h2, article h3, article h4 { width: calc(100% - 40px); }
}

@media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
	.sidebar { display: none; }
}
